header {
  text-align: center;
  background-color: #a0faff;
  font-family: "Lato:400", "Verdana", sans-serif;
}
.groceryButtons {
  background-color: #e8af48;
  padding-top: 2em;
  padding-bottom: 3em;
}
.groceryButtons button {
  background-color: #a0faff;
  width: 15em;
  height: 7em;
  margin: 0 1em 0 1em;
  font-size: 1em;
}
body {
  display: flex;
  justify-content: space-around;
  font-family: "Lato:400", "Verdana", sans-serif;
}
.leftHalf {
  width: 66.6%;
}
.rightHalf {
  width: 33.3%;
}
img {
    width:  75%;
    height: 100%;
}
.photosLeft{

}
.photosRight {

}
.greenPics {
  display: none;
}

.essentialPics {
  display: none;

}
.essentialPics .photosRight{
  flex-grow: .5;
}
.essentialPics .photosLeft{
  flex-grow: .5;
}
.drinkPics {
  display: none;
}
.drinkPics .photosRight{
  flex-grow: .5;
}
.topLeft {
  text-align: center;
}
.bottomLeft {
  text-align: center;
}
.topRight {
  text-align: center;
}
.bottomRight {
  text-align: center;
}
aside {
  text-align: center;
}

/* effects */

img:hover {
  opacity: .7;
}
a:hover {
  font-weight: bolder;
  text-decoration: underline;
}
button:hover {
  font-weight: bolder;
  text-decoration: underline;
  border: solid 3px;
  background-color: #bafaff;
}